
.container {
    padding: 0 2rem;
  }

.entry {
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 350px;
}
.rules h3 {
    margin: 0;
}
.stageList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.stageList p{
    margin: 4px;
    font-size: 14px;
    font-weight: bold;
}
.weaponList{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
}
.rules > div {
    padding-bottom: 50px;
}

.qr {
    text-align: center;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 20px;
    width: 350px;
}


@media screen and (max-width:768px){
    .qr {
        display:none !important;
    }
}